#t-19d3c0dd-5444-4626-8d06-0053a74f95ca > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}

#t-19d3c0dd-5444-4626-8d06-0053a74f95ca > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#t-19d3c0dd-5444-4626-8d06-0053a74f95ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
