#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 > #backgroundBox {
  background-color: transparent;
  background-image: linear-gradient(154.51855926483967deg, #1B1B1B 0.001%, #161616 111.42567934322658%);
  position: absolute;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_1 {
  position: absolute;
  width: 374.9999999999993px;
  min-height: 812.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_1 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(147.975258440928deg, #1B1B1B 0.001%, #161616 104.8421297824886%);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Panel_1 {
  width: 375.0px;
  height: 723.0000000000001px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Panel_1 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_10 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_10 span {
  color: #FFB301;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FFB301;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 input::-webkit-input-placeholder {
  color: #FFFFFF;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 input::-moz-placeholder {
  color: #FFFFFF;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 input:-moz-placeholder {
  color: #FFFFFF;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 input:-ms-input-placeholder {
  color: #FFFFFF;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 {
  position: absolute;
  width: 293.86067199707014px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 .valign {
  vertical-align: middle;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_11 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.5pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.5pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_8 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_8 span {
  color: #FFB301;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFB301;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 input::-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 input:-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 input:-ms-input-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 {
  position: absolute;
  width: 293.86067199707014px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 .valign {
  vertical-align: middle;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_9 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.5pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.5pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_12 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_12 span {
  color: #FFB301;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #FFB301;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 input::-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 input:-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 input:-ms-input-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 {
  position: absolute;
  width: 293.86067199707014px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 .valign {
  vertical-align: middle;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_13 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: center;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.5pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.5pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_7 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_7 span {
  color: #FFB301;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFB301;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input input::-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input input:-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input input:-ms-input-placeholder {
  color: rgba(255,255,255,0.2);
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input {
  position: absolute;
  width: 313.8606719970701px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input .valign {
  vertical-align: middle;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_3 {
  position: absolute;
  width: 342.5324675324677px;
  height: 211.00000000000009px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_3 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_1 {
  position: absolute;
  width: 100.0%;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_1 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_1 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_2 {
  position: absolute;
  width: 100.0%;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_2 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_2 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_2 {
  position: absolute;
  width: 342.53246753246765px;
  height: 211.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_2 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_12 {
  position: absolute;
  width: 100.0%;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_12 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #111111;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_12 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_12 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_14 {
  position: absolute;
  width: 133.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_14 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: center;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_14 span {
  color: #BBBBBB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #BBBBBB;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_29 {
  position: absolute;
  width: 13.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_29 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_15 {
  position: absolute;
  width: 84.0px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_15 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_15 span {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_16 {
  position: absolute;
  width: 84.0px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_16 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: right;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_16 span {
  color: #007AFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_3 {
  position: absolute;
  width: 44.99999999999977px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_3 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_17 {
  position: absolute;
  width: 17.0px;
  height: 11.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_17 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_18 {
  position: absolute;
  width: 18.0px;
  height: 17.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_18 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_4 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Image_4 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_17 {
  position: absolute;
  width: 72.0%;
  min-height: 158.0px;
  opacity: 0.82;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_17 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_17 > .backgroundLayer {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_17 > .backgroundLayer > .colorLayer {
  background-color: #F8F8F8;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_17 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_17 > .backgroundLayer {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: center;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_18 {
  position: absolute;
  width: 72.0%;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_18 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_18 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #8E8E93;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_18 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_18 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Thin',Arial;
}

_:-ms-fullscreen, :root #s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_5 {
  box-shadow: none;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_5 span {
  color: rgba(255,255,255,0.5);
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Thin',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  font-family: 'Roboto Thin',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-464ffa75-0632-4441-beee-dc8c8f7ecfe4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
