#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle {
  position: absolute;
  width: 374.9999999999993px;
  min-height: 812.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(147.975258440928deg, #1B1B1B 0.001%, #161616 104.8421297824886%);
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  position: absolute;
  width: 100%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Black',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span {
  color: #FFB301;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Black',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFB301;
  text-decoration: none;
  font-family: 'Roboto Black',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  width: 405.3333333333328px;
  height: 227.99999999999991px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Search {
  position: absolute;
  width: 93.066666%;
  height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Search {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_2 .verticalalign {
  vertical-align: middle;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_2 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_2 {
  width: 100.0%;
  height: 100.0%;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 input::-webkit-input-placeholder {
  color: #8E8E93;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 input::-moz-placeholder {
  color: #8E8E93;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 input:-moz-placeholder {
  color: #8E8E93;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 input:-ms-input-placeholder {
  color: #8E8E93;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 {
  position: absolute;
  width: 100.20986358866735%;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 .valign {
  vertical-align: middle;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(228,228,229,0.0);
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #E7E7E7;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #E7E7E7;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #E7E7E7;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #E7E7E7;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_4 .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_35 {
  position: absolute;
  width: 12.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_35 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_26 {
  position: absolute;
  width: 15.0px;
  height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_26 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_17 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_17 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_18 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_18 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto Thin',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span {
  color: rgba(255,255,255,0.5);
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Thin',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  font-family: 'Roboto Thin',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
